{
  "extends": [
    "defaults/configurations/google"
  ],
  "rules": {
    "dot-location": 0,
    "newline-after-var": 0,
    "new-cap": 0,
    "valid-jsdoc": [2, {
      "requireReturn": false
    }]
  },
  "plugins": [],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  }
}
