<?xml version='1.0' encoding='utf-8'?>
<!-- cordova config -->
<widget id="io.github.webapplate" version="0.1.0"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Webapplate</name>
    <description>
    </description>
    <author email="author@email.com" href="http://webapplate.github.io">
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
