mark { background-color:#ff9; color:#000; font-style:normal; font-weight:bold; }

.hidden { display: none; }

body { padding-top: 50px; }
@media screen and (max-width: 768px) {
  body { padding-top: 50px; }
}

.navbar { margin-bottom: 0; }

