mark { background-color:#ff9; color:#000; font-style:normal; font-weight:bold; }

.hidden { display: none; }

/* app default style */
/*html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  background-color: #fff;
}
body {
  background: none;
}
section[role="region"] {
  margin-bottom: 1.5rem;
  position: relative;
}*/
