{% extends 'main.html' %}

{% block title %}My Page{% endblock %}

{% block head %}
  {% parent %}
  <!-- remove below to use dynamic page -->
  <meta http-equiv="Refresh" content="1; url=/public/index.html">
  <!-- web component
  <script defer src="public/vendor/platform/platform.js"></script>
  <link rel="import" href="public/parts/app-main.html">
  -->
{% endblock %}

{% block content %}
<h1>Hello {{ foo }}</h1>
redirect to static page

<!-- web component
<app-main></app-main>
-->

<!-- build:js js/body.min.js -->
<!-- Custom actions here -->
<script defer src="public/js/main.js"></script>

<!-- App Install detection -->
<!--<script defer src="public/js/app_installer.js"></script>-->
<!-- endbuild -->
{% endblock %}