{% extends 'main.html' %}

{% block title %}My Page{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}
<header id="header" class="navbar navbar-fixed-top shadow-z-3">
  <a class="navbar-brand" href="#">Webapplate</a>
  <ul class="nav navbar-nav pull-left">
  </ul>
</header>
{% parent %}
<section id="content" class="well">
  <!-- Add your site or application content here -->
  <h3 data-l10n-id="hello"></h3>
  <p data-l10n-id="info_dynamic"></p>
</section>

<!-- build:js js/body.min.js -->
<!-- vendor libraries -->
<script defer src="public/vendor/jquery/dist/jquery.min.js"></script>
<script defer src="public/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script defer src="public/vendor/bootstrap-material-design/dist/js/material.min.js"></script>
<script defer src="public/vendor/bootstrap-material-design/dist/js/ripples.min.js"></script>
<!-- polyfill -->
<script defer src="public/vendor/localforage/dist/localforage.min.js"></script>
<script defer src="public/vendor/fetch/fetch.js"></script>
<!-- custom script -->
<script defer src="public/js/main.js"></script>

<!-- App Install detection -->
<!--<script defer src="public/js/app_installer.js"></script>-->
<!-- endbuild -->
{% endblock %}
