<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}My Site{% endblock %}</title>
	{% block head %}
	<!--link rel="stylesheet" href="/public/css/custom.css"-->
    <!--script defer src="/public/js/custom.js"></script-->
    <!--script defer src="/public/lib/jquery/jquery.min.js"></script-->
    <!--link rel="stylesheet" href="/public/lib/bootstrap/doc/assets/css/bootstrap-responsive.css"-->
	<link rel="stylesheet" href="/public/lib/font-awesome/css/font-awesome.min.css">
<!--[if IE 7]>
    <link rel="stylesheet" href="/public/lib/font-awesome/css/font-awesome-ie7.min.css">
<![endif]-->
    <link rel="stylesheet" href="/public/css/main.css">
    {% endblock %}
</head>
<body>
	{% block content %}
	<h1>Hello World</h1>
    {% endblock %}
</body>
</html>
