<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="manifest" href="/public/manifest.json">
	<title>{% block title %}My Site{% endblock %}</title>
	{% block head %}
    <!-- remove maximum-scale for mobile web -->
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    <!-- installable from browser -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- icons -->
    <link rel="icon" href="style/icons/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" sizes="128x128" href="apple-touch-icon-precomposed.png">
    <link rel="style/icons/apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- IE compatibility -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if IE]><link rel="shortcut icon" href="style/icons/favicon.ico"  type="image/x-icon"><![endif]-->
    <meta name="defaultLanguage" content="en-US">
    <meta name="availableLanguages" content="en-US, zh-TW">
    <link rel="localization" href="locales/locales.{locale}.l20n">
    <script defer src="public/vendor/l20n/dist/webcompat/l20n.js"></script>

    <link rel="stylesheet" href="public/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/vendor/bootstrap-material-design/dist/css/ripples.min.css">
    <link rel="stylesheet" href="public/vendor/bootstrap-material-design/dist/css/material-wfont.min.css">
    <!-- build:css style/app.min.css -->
    <link rel="stylesheet" href="public/style/main.css">
    <!-- endbuild -->

    <!-- build:js js/app.min.js -->
    <!-- endbuild -->
    {% endblock %}
</head>
<body>
	{% block content %}
      {% if message %}
        <div class="alert alert-dismissable alert-warning">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ message }} {{ message.info }}
        </div>
      {% endif %}
    {% endblock %}
</body>
</html>
